AlexnetCurrent.pt
AlexnetEpoch134.pt
AlexnetEpoch21.pt
AlexnetEpoch24.pt
AlexnetEpoch33.pt
AlexnetEpoch37.pt
AlexnetEpoch43.pt
AlexnetEpoch48.pt
AlexnetEpoch52.pt
AlexnetEpoch55.pt
AlexnetEpoch99.pt
AlexnetFinal.pt
